body {
 /*	background-color:#ffffff; */
 font-family: "Georgia" "Times New Roman"
 font-size: 18px;
 /*background: url("../images/roman_clouds.jpg");*/
 background: url("../images/mydaisy.jpg");
 color: #777;
 line-height: 34px;   
}
 
 * {
   box-sizing: border-box;
 }
 
/*general*/

 h1,
 h2,
 h3,
 p {
    margin-bottom:20px;
 }

p:last-child {
  margin-bottom: 0;
}

h1,
h2,
h3 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #4aaaa5;
  font-weight: 700;
}

 h1 {
 	color: white;
  font-size: 28px;
  line-height: 49px;
  text-align: center;
  width: 72%;
  float: left;
  clear: both;
 /*  border-bottom: 3px solid #ddd; 
	   background-color: #4aaaa5;
	   margin-left: 250px ;
     margin-top: 5px; 
  	 padding-top: 5px ;
     height: 120px; 
     width: 200px;*/
 }

 h2,
 h3 {
 	font-size:22px;
 /*   height: 30px;
    width: 200px;
    margin: 5px; */
 }

 a {
 	 color:#d21034;
     box-sizing: border-box;
 }

 .topcontainer {
     clear: both;
/*     height: 150px;
     width: 100%; */
     z-index: 99;
     overflow: auto;
/*     border-bottom: 2px solid #ccc;*/
    }

.container {
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
} 

#main-container {
  padding-top: 0px;
}

.main-section {
  padding: 30px;
  margin: 0 0 40px 0;
  width: 100%;
  max-width: 650px;
  float: left; 
  background: #fff;
  border: 1px solid #ddd;
}

/*.about-me {
  
    border-bottom: : 1px solid black; 
}*/

 .bio-image {
  margin:20px;
  width:200;
  height:200;
  float: left;
  clear: both;
    }

 .bio-image {
    -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
    animation: mymove 5s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    50% {
        -webkit-filter: grayscale(100%); 
        filter: grayscale(100%);
    }
}

/* Standard syntax */
@keyframes mymove {
    50% {
        -webkit-filter: grayscale(100%); 
        filter: grayscale(100%);
    }
}
 /*.bio-image {
  width: 200px;
  height: auto;
  margin-top: 10px;
  margin-right: 25px;
  float: left; 
} */

 #story {

 }

  #links {
   float: left;
 /*  margin-left: 450px;
   margin-top: 50px; */
   width: 28%;
    }
/*footer*/

footer {
    padding: 30px 0;
    padding: 30px 0;
    clear: both;
    color: #fff;
    color: #ccc;
    font-size: 12px;
    text-align: center;
    background: #666;
    border-top: 8px solid #4aaaa5;
}


/*sidebar*/

.sidebar {
  padding: 30px;
  width: 100%;
  max-width: 270px;
  float: right;
  margin-bottom: 20px;
  margin-left: 10px;
  background: #fff;
  border: 1px solid #ddd;
  overflow: auto;
}
@media only screen and (max-width: 640px) {
  .sidebar {
    width: 100%;
    max-width: 100%;
  }
}

h3,
.sidebar h2 {
  padding-bottom: 20px;
  margin-bottom: 15px;
  line-height: 22px;
  border-bottom: 2px solid #eee;

}
.social {
  width: 62px;
  height: 62px;
  margin-top: 8px;
  margin-right: 5px;
  margin-left: 5px;
  overflow: auto;
}

.social:last-child {
  margin-right: 0;
}



/*portfolio page*/

.work {
  position: relative;
  width: 274px;
  overflow: auto;
  float: left;
  margin: 20px 0 25px;
}
@media only screen and (max-width: 640px) {
  .work {
    width: 100%;
  }
}
 
.work:nth-child(even) {
  margin-right: 40px;
}

.work img {
  width: 100%;
  height: 70%;
  border: 0 none;
  opacity: .8;
}

.work h3 {
  position: absolute;
  bottom: 20px;
  margin-bottom: 0;
  padding: 15px;
  width: 100%;
  color: #fff;
  text-align: center;
  line-height: 30px;
  font-weight: 300;
  background: #4aaaa5;
  border-bottom: 0;
}

.auth-image {
  width: 200px;
  height: auto;
  margin-top: 10px;
  margin-right: 25px;
  float: left;
}


/*contact page*/

#contact-form ul {
  margin-bottom: 20px;
}

#contact-form li {
  margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #ddd;
}

textarea {
  height: 200px;
}

input[type=submit] {
  padding: 10px 30px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  background: #4aaaa5;
  border: 0 none;
}



/*  Media queries 
@media only screen and (max-width: 980px) {
 (Images/980-index.jpg) 
}

@media only screen and (max-width: 768px) {
  (Images/768-index.jpg)
}

@media only screen and (max-width: 640px) {
  (Images/640-index.jpg)
}
 
*/